nav.main-nav {
    background-color: #fff;
    box-shadow: 0px -5px 8px 5px #c3c3c3;
}

nav.main-nav>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 20px;
}

nav.main-nav .menu-list {
    display: none;
    align-items: center;
}

nav.main-nav .menu-list .menu-link {
    display: flex;
    gap: 8px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

nav.main-nav .menu-list.secondary-list {
    gap: 20px;
}

nav.main-nav .menu-list.secondary-list .menu-link {
    padding: 0
}

@media screen and (min-width: 768px) {
    nav.main-nav .menu-list {
        display: flex;
    }

    .resp-menu-btn{
        display: none;
    }
}