nav.main-nav {
    background-color: #fff;
    box-shadow: 0px -5px 8px 5px #c3c3c3;
}

nav.main-nav > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.main-nav .menu-list {
    display: none;
    align-items: center;
    flex-grow: 1;
}

nav.main-nav .menu-list .menu-item:nth-child(1){
    margin-left: auto;
}

nav.main-nav .menu-list .menu-item:nth-child(5){
    margin-left: auto;
}

nav.main-nav .menu-list .menu-link,
nav.resp-nav .menu-list .menu-link {
    display: flex;
    gap: 8px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

nav.main-nav .menu-list .menu-item.btn-item .menu-link,
nav.resp-nav .menu-list .menu-item.btn-item .menu-link{
l   color: var(--primary-color);
    outline: var(--primary-color) 2px solid;
    backdrop-filter: blur(8px);
    border-radius: 100vh;
}

nav.main-nav .menu-list.secondary-list {
    gap: 20px;
}

nav.main-nav .menu-list.secondary-list .menu-link {
    padding: 0
}

nav.resp-nav{
    position: absolute;
    height: 100%;
    width: 90%;
    max-width: 450px;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    right: -100vh;
    display: none;
}
nav.resp-nav.show{
    display: block;
    box-shadow: -12px 0 20px 20px #00000056;
    animation: show 600ms ease-in-out 0s forwards;
}

@keyframes show{
    0%{
        right: -100vh;
    }
    100%{
        right: 0;
    }
}

@media screen and (min-width: 990px) {
    nav.main-nav .menu-list {
        display: flex;
    }

    .resp-menu-btn{
        display: none;
    }
}
