@import "./reset.css";
@import "./pages/header.css";
@import "./pages/footer.css";

:root{
    --primary-color: #0e8252;
    --secondary-color: #cfcfcf;
}

a{
    color: unset;
    text-decoration: none;
}

body{
    /* font-family: "Roboto", sans-serif; */
    font-family: "Nunito Sans", sans-serif;
    background-color: #f3f3f3;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.heading-text{
    font-size: 25px;
    font-weight: 600;
}

.sub-heading-text{
    font-size: 20px;
    font-weight: 500;
}

.brand-name{
    display: flex;
}

.wrapper{
    max-width: 1250px;
    margin: 0 auto;
}

.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    outline: var(--primary-color) 2px solid;
}

.btn-primary-outline{
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    outline: var(--primary-color) 2px solid;
}

/* .btn-secondary{
    background-color: #fff;
    outline: var(--secondary-color) 2px solid;
    color: #000;
} */

.icon-container{
    --size: 18px;
}

.icon-container-md{
    --size: 28px;
}

.icon-container,
.icon-container-md{
    height: var(--size);
    width: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 var(--size);
}

.icon-container > *,
.icon-container-md > *{
    height: 100%;
    width: 100%;
}

.intro-section > *{
    /* height: calc(100vh - 72px); */
    padding: 50px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.intro-section .intro-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-section .intro-text h4{
    font-size: 24px;
}

.intro-section .intro-text h2{
    font-size: 37px;
    font-weight: 600;
}

.intro-section .intro-text span{
    font-size: 18px;
    max-width: 75%;
}

.property-btn{
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    border-radius: 100vh;
    font-weight: 500;
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.hero-img{
    width: 50%;
    overflow: hidden;
    border-radius: 12px;
    display: none;
}

.hero-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 990px){
    .hero-img{
        display: block;
    }
}

@media screen and (min-width: 1367px) {
    .hero-img{
        width: 80%;
    }
    .intro-section{
        gap: 30px;
    }
}